/* header section  */
.banner {
  font-family: Merriweather;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  border-radius: 1.6rem;
}

.banner h2 {
  color: #fff;
  text-align: center;
  font-size: 3.2rem;
}

.banner-text-box {
  padding: 16rem 0;
  text-align: center;
  max-width: 63.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* promotion section  */

.section-promotion {
  padding-top: 12rem;
}

.promotion-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 2.4rem; */
}

.promotion-content-box h1 {
  margin-bottom: 4.8rem;
}

.promotion-title {
  color: #f00;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.promotion-text {
  color: #070211;
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 4.8rem;
}

/* section Welcome  */

.section-welcome {
  padding: 12rem 0;
}

.welcome-content-box {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  background-position: center;
  background-size: cover;
  padding: 6rem 12rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.welcome-img-box img {
  width: 80%;
}

.heading-welcome {
  color: #fff;
  font-family: Merriweather;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 8rem; /* 137.5% */
  letter-spacing: 0.7rem;
  max-width: 60rem;
  margin-bottom: 2.4rem;
}

.welcome-text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.8rem;
  line-height: 3rem; /* 166.667% */
  max-width: 64rem;
  margin-bottom: 4.8rem;
}

.btn-welcome:link,
.btn-welcome:visited {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 3.2rem;
}

/* section cta  */

/* .section-cta {
  padding-top: 12rem;
} */

.cta-content-box {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 10rem 0;
}

.cta-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-text {
  color: #070211;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 5.6rem;
  text-transform: capitalize;
}
.cta-text span {
  color: #f00;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 5.6rem;
  text-transform: capitalize;
}

.btn-cta:link,
.btn-cta:visited {
  margin-top: 6.4rem;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* section coming  */
.section-coming {
  padding: 12rem 0;
}

.coming-content-2 {
  border: 15px solid #f00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.content-2-box {
  background-color: yellow;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  background-image: url("../resources/Ellipse\ 1.png");
  background-position: center;
  background-size: cover;
}

.coming-content-box {
  display: grid;
  grid-template-columns: 3fr 4fr 2fr;
  align-items: center;
  gap: 3.2rem;
}

.coming-title {
  color: #f00;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.coming-heading {
  color: #070211;
  font-family: Merriweather;
  font-size: 4.8rem;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 2.4rem;
}

.coming-text {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 2rem;
  line-height: 3.2rem; /* 160% */
}

.coming-heading-secondary {
  color: #f00;
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.coming-content-3 img {
  margin-top: 3.2rem;
}

/* section functional  */
/* .section-functional{

} */
.functional-top-content-box {
  margin: 0 auto;
  max-width: 80rem;
}

.functional-top-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.8rem;
}

.functional-title {
  color: #070211;
  font-family: Inter;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.functional-heading {
  color: #070211;
  font-family: Merriweather;
  font-size: 7.2rem;
  font-weight: 900;
  margin-bottom: 2.4rem;
}
.functional-heading span {
  color: #f00;
}

.functional-text {
  color: rgba(7, 2, 17, 0.6);
  font-size: 2rem;
  font-weight: 500;
  line-height: 3.2rem; /* 160% */
}

/* .functional-bottom-img-box {
  background: url("../resources/Rectangle\ 1.png");
  background-repeat: no-repeat;
  background-position: bottom right;
} */

.rectangle-1-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: -5px;
}

.rectangle-1 {
  position: relative;
  margin-left: auto;
}

.circle-1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
/* .rectangle-1::before {
  content: "";
  background: url("../resources/Group\ 44.png");
  width: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
} */

.rectangle-2-container {
  position: relative;
}

.rectangle-2 {
  width: 100%;
}

.rectangle-3 {
  position: absolute;
  top: -155%;
  left: 6%;
  width: 50%;
}

/* section gallery */
.section-gallery {
  padding: 12rem 0;
}

.gallery-text-box {
  max-width: 60rem;
}

.gallery-title {
  color: #f00;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.gallery-heading {
  color: #070211;
  font-family: Merriweather;
  font-size: 4.8rem;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 2.4rem;
}

.gallery-text {
  color: rgba(7, 2, 17, 0.6);
  font-size: 2rem;
  line-height: 3.2rem; /* 160% */
}

.gallery-img-box {
  margin-top: 4.8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2.4rem;
  column-gap: 2.4rem;
}

.gallery-item {
  overflow: hidden;
  border-radius: 18px;
}

.gallery-img-box img {
  /* border-radius: 5px; */
  display: block;
  width: 100%;

  transition: all 0.4s;
}

.gallery-img-box img:hover {
  transform: scale(1.2);
  /* background-color: #f00; */
}

/* news section  */

.news-content-box {
  padding: 8rem 20rem;
  background-color: rgba(255, 0, 0, 0.05);
  border-radius: 9px;
}

.news-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-heading {
  color: #070211;
  font-family: Merriweather;
  font-size: 4.8rem;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 4rem;
  margin-bottom: 2.4rem;
}

.news-text {
  color: rgba(7, 2, 17, 0.6);
  font-size: 2rem;
  line-height: 3.2rem; /* 160% */
  margin-bottom: 4.8rem;
}

.subscribe {
  display: flex;
  align-items: center;
}

.subscribe input {
  padding: 2.8rem 19.2rem;
  padding-left: 2.4rem;
  border: 0;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
}

.subscribe input::placeholder {
  color: rgba(7, 2, 17, 0.3);
  text-align: center;
  font-size: 1.8rem;
}

.btn-subscribe {
  text-decoration: none;
  background: #f00;
  color: #fff;
  padding: 2.4rem 4.8rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

/* footer section  */
.footer-text {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 4rem; /* 166.667% */
  max-width: 40rem;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

/* .footer-content-box {
  display: flex;
  flex-direction: column;
} */

.footer-row-1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3.2rem;
}

.social-links {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 1.6rem;
  padding: 3.2rem 0;
}

.footer-row-3 {
  padding-top: 3.2rem;
  display: flex;
  justify-content: space-between;
}

footer a:link,
footer a:visited {
  text-decoration: none;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
}

/* .footer-address {
  margin-right: auto;
} */

.margin-right-md {
  margin-right: 15rem;
}
