/* header section  */
.banner {
  font-family: Merriweather;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  border-radius: 1.6rem;
}

.banner h2 {
  color: #fff;
  text-align: center;
  font-size: 3.2rem;
}

.banner-text-box {
  padding: 16rem 0;
  text-align: center;
  max-width: 63.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* promotion section  */

.section-promotion {
  padding-top: 12rem;
}

.promotion-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 2.4rem; */
}

.promotion-content-box h1 {
  margin-bottom: 4.8rem;
}

.promotion-title {
  color: #f00;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.promotion-text {
  color: #070211;
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 4.8rem;
}

/* section Welcome  */

.section-welcome {
  padding: 12rem 0;
}

.welcome-content-box {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  background-position: center;
  background-size: cover;
  padding: 6rem 12rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.welcome-img-box img {
  width: 80%;
}

.heading-welcome {
  color: #fff;
  font-family: Merriweather;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 8rem; /* 137.5% */
  letter-spacing: 0.7rem;
  max-width: 60rem;
  margin-bottom: 2.4rem;
}

.welcome-text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.8rem;
  line-height: 3rem; /* 166.667% */
  max-width: 64rem;
  margin-bottom: 4.8rem;
}

.btn-welcome:link,
.btn-welcome:visited {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 3.2rem;
}

/* section cta  */

/* .section-cta {
  padding-top: 12rem;
} */

.cta-content-box {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 10rem 0;
}

.cta-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-text {
  color: #070211;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 5.6rem;
  text-transform: capitalize;
}
.cta-text span {
  color: #f00;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 5.6rem;
  text-transform: capitalize;
}

.btn-cta:link,
.btn-cta:visited {
  margin-top: 6.4rem;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

/* section coming  */
.section-coming {
  padding: 12rem 0;
}

.coming-content-2 {
  background-color: yellow;
  width: 80%;
  padding-bottom: 80%;
  border-radius: 50%;
  border: 15px solid #f00;
  box-sizing: content-box;
  background-image: url("../resources/Ellipse\ 1.png");
  background-position: center;
  background-size: cover;
}

.coming-content-box {
  display: grid;
  grid-template-columns: 3fr 4fr 2fr;
  align-items: center;
  gap: 3.2rem;
}

.coming-title {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.coming-heading {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 2.4rem;
}

.coming-text {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  line-height: 32px; /* 160% */
}

.coming-heading-secondary {
  color: #f00;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.coming-content-3 img {
  margin-top: 3.2rem;
}

/* section functional  */
/* .section-functional{

} */
.functional-top-content-box {
  margin: 0 auto;
  max-width: 80rem;
}

.functional-top-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.8rem;
}

.functional-title {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.functional-heading {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 2.4rem;
}
.functional-heading span {
  color: #f00;
}

.functional-text {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px; /* 160% */
}

/* .functional-bottom-img-box {
  background: url("../resources/Rectangle\ 1.png");
  background-repeat: no-repeat;
  background-position: bottom right;
} */

.rectangle-1-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: -2px;
}

.rectangle-1 {
  position: relative;
}

.circle-1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
/* .rectangle-1::before {
  content: "";
  background: url("../resources/Group\ 44.png");
  width: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
} */

.rectangle-2-container {
  position: relative;
}

.rectangle-2 {
  width: 100%;
}

.rectangle-3 {
  position: absolute;
  top: -80%;
  left: 10%;
  width: 35%;
}
